/* General styling
***************************************************************/
body{
    margin: 0;
    background: ghostwhite;
    font-family: 'Poppins', sans-serif;
}


/* Styling for the navigation bar.
**************************************************************/
#nav-bar{
    width: 80%;
    margin: 0 auto;
}

#nav-bar img{
    float: left;
    padding-top: 15px;
}

header{
    background: rgba(250, 250, 250, 0.95);
    height: 50px;
}

/*Clear fix for header*/
header::after{
    content: "";
    display: table;
    clear: both;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 80px;
    padding-top: 15px;
    position: relative;
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

nav a:hover{
    color: chocolate;
}

nav a::before{
    content: "";
    display: block;
    height: 3px;
    background: black;
    position: absolute;
    top: 0;
    width: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

nav a:active{
    color: #FCC420;
}

.orange{
    color: #FCC420;
}

/* Styling for the body of the pages
**********************************************************************************/
/*Highlighted text styling*/
.HighlightedText{
    width: fit-content;
    height: fit-content;
    padding: 0 auto;
    /*margin: 0 auto;*/
}

.HighlightedText h3{
    font-size: 20px;
    font-weight: 900;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
    z-index: 2;
}

.HighlightedText hr{
    position: relative;
    margin: 0 auto;
    border: 5px solid rgb(252, 196, 32);
    transform: translateY(-100%);
    z-index: -3;
}

/* Styling for paragraph text
*******************************************************************************/
.paragraphText{
    font-size: 16px;
    text-align: justify;
}

/* Styling for the bio box
*****************************************************************************/
.bioBox{
    width: 50%;
    margin: 50px auto;
}

.bottomBio .HighlightedText{
    margin: 0 auto;
}

.bottomBio .socialMedia{
    margin: 0 auto;
    width: fit-content;
}

.socialMedia{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    flex-direction: row;
}

/* Styling for the logos
********************************************************************************/
.fa-envelope{
    color: #FCC420;
}

.fa-envelope:hover{
    background-color: #FCC420;
    color: white;
}

.fa-linkedin-in{
    color: #007AB9;
}

.fa-linkedin-in:hover{
    background-color: #007AB9;
    color: white;
}

.fa-instagram{
    color: #E1306C;
}

.fa-instagram:hover{
    background-color: #E1306C;
    color: white;
}

.fa-envelope, .fa-instagram, .fa-linkedin-in{
    border: 1px solid;
    border-radius: 25%;
    padding: 7px;
    font-size: 22px;
}

/* Styling for the case study bar
***************************************************************************/
.case{
    position: relative;
    text-align: center;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}
.case p{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    letter-spacing: 0.01em;
}

/* Styling for the left side rendering
******************************************************************************/
.leftRender, .rightRender{
    width: 80%;
    display: grid;
    align-items: center;
    grid-column-gap: 60px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto 50px;
}


/* Styling for the Case study banner
**************************************************************************************************/
#pagaBanner{
    position: relative;
    width: fit-content;
    margin: 50px auto 0;
}


/*Place div on top of the image*/
.logo_desc{
    color: white;
    position: absolute;
    top: 25%;
    left: 5%;
    padding: 5px;
}

/*Styling for the text details in the banner*/
.more_details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
}

.logo_desc h1{
    font-weight: 500;
    font-size: 30px;
}

.more_details p{
    font-size: 15px;
    border-right: 1px solid white;
    padding-right: 25px;
}

#lastText{
    border-right: 0;
}

.logo_desc hr, .caseLine{
    border: black;
    border-bottom: 1px solid white;
}

/*Styling for case study text*/
.orange{
    color: #F27E21;
}

.green{
    color: #7EAF2E;
}

/*Styling for the case div and it's content*/
.caseDiv{
    width: 80%;
    margin: 0 auto;
}

.quote{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.caseLine{
    width: 85%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

/*Styling for text inside the case div*/
.caseDiv .paragraphText{
    font-weight: 300;
    font-size: 15px;
}

/*Styling for the logo division*/
.logoDiv{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.TextualLogo{
    box-shadow: 2px 5px 8px rgba(208, 208, 208, 0.66);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5%;
}

.TextualLogo img{
    margin: 0 auto;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.TextualLogo p{
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}

/* Styling for the span bar
*************************************************************************************************/
.spanBar{
    background: linear-gradient(112.96deg, #A2B62C 3.21%, #77AA31 95.38%);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 100px 50px 100px;
    color: white;
}

.spanBar q{
    font-size: 20px;
}

#specialHeading .green{
    margin: 0 auto;
}

.green span{
    font-size: 12px;
    color: gray;
    font-weight: lighter;
}

#sub_heading{
    font-weight: bold;
    margin: 0 auto;
    font-size: 15px;
    color: #5b5b5b;
}

#sub_heading span{
    color: #7EAF2E;
}

/*Styling for the images in the agripredict page*/
.agriImg{
    display: flex;
    margin: 0 auto 15px;
}

#head_comp{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /*border: 1px solid black;*/
    column-gap: 20px;
}

#head_comp img{
    margin: 0 auto;
    max-height: 120px;
    width: 300px;
    object-fit: cover;
}